<h3>Hello, <%= name %> </p>Welcome To Your Profile!</h3>
<br>
<p>Your Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>

<ul>

  <h1>Here Are Your Top Favorite Movies:</h1>
  <% movies.forEach(movie => { %>
    <li><%= movie.title %> </li>
  <% }) %>
  </ul>

